main {
  padding-top: 56px;
  padding-bottom: 56px;
}

img.img-thumbnail {
  width: 140px;
  height: 190px;
  object-fit: cover;
}

img.user-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10%;
  &.edit {
    cursor: pointer;
  }
}

.card {
  height: 100%;
}

.top-wrapper {
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-position: center center;
  height: 80vh;
}

.content {
  height: 100%;
}
